# OS Files
.DS_Store
Thumbs.db
desktop.ini

# Editors and IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Logs and temporary files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache
